<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>
<div class="top-container">
  <div class="top-title">
    <h1><FONT size="7" color="white">Token Trader Ruby Ethereum</FONT></h1>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <%= link_to "Token Issue", tokens_path, class:'btn btn-primary btn-block'%>
    </div>
  </div>
</div>
