<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>">
<%= value %>
</div>
<% end %>

<section class="main-header">
    <section class="token_issue">
        <h1><FONT size="7">Token Trader</FONT> <FONT size="7" color="red">Ruby</FONT> <FONT size="7">Ethereum</FONT></h1>
        <center>
          <%= link_to "Token Issue", tokens_path, class:'btn btn-primary btn-block'%>
        </center>
    </section>

</section>
<section class="attention">
  <div class="container">
</div>
</section>
