<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>">
<%= value %>
</div>
<% end %>
<center>
<h1><FONT size="7">Token Trader</FONT> <FONT size="7" color="red">Ruby</FONT> <FONT size="7">Ethereum</FONT></h1>
</center>
<section class="main-header">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <%= link_to "Token Issue", tokens_path, class:'btn btn-primary btn-block'%>
  </div>
</section>
<section class="attention">
  <div class="container">
</div>
</section>
