<div class="container">
  <h1>Token Trader Ruby Ethereum</h1>
  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
  </section>
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <%= link_to "Token Issue", tokens_path, class:'btn btn-primary btn-block'%>
  </div>
</div>
