<div class="container">
  <h1>Your Tokens</h1>
  <div class="table-responsive">
    <!-- テーブルにクラスを追加 -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Token Name</th>
          <th>Balance</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posessions.each do |posession| %>
          <tr>
            <td><%= posession.token.symbol %></td>
            <td><%= posession.token.name %></td>
            <td><%= posession.balance %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
