// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  text-align: center;
  h1 {
    margin: 0 auto;
    padding-top: 50px;
    font-size: 80px;
  }
}

.token_issue {
  height: 250px;
  width: 760px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 300px;
  background-attachment: fixed;
  .btn-block {
      width: 40%;
      margin-top: 340px;
  }
}

.main-header {
  height: 430px;
  width: 100%;
  background-size: cover;
  background-image: url("ethereum.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25% auto;

  opacity: 0.9;
}


.attention {
    background-color: white;
}
