// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  text-align: center;
  h1 {
    margin: 0 auto;
    padding-top: 50px;
    font-size: 80px;
  }
}

.btn-block {
    width: 100%;
    margin-top: 50px;
}
.main-header {
  padding-top: 35%;
  margin-top: -20px;
  width: 100%;
  background-size: cover;
  background-image: url("ethereum.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45% auto;

  opacity: 0.9;
}


.attention {
    background-color: white;
}
